    header {
      text-align: center;
      background: url("maxresdefault.jpg");
      background-size: cover;
      color: maroon;
    }
    
	body{
				background-color: #7d4040;
				color:  	#779389;
				text-align: center;
			}
	a {
      				color: White;
				text-align: center;
				font-size: 30px;
	    		}
     	img{
      				margin: 40px 0px 0px 0px;
      				border: 7px solid white;
      				border-radius: 20px;
			}
