    header {
      text-align: center;
      background: url("maxresdefault.jpg");
      background-size: cover;
      color: white;
    }
    
	body{
				background-color: #7d4040;
				color:  	#779389;
				text-align: center;
			}
	a {
      				color: red;
				text-align: center;
				font-size: 30px;
	    		}
